@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0; /* Set a light background color */
  margin: 0;
  padding: 0;
}

.booking-form {
  margin: 20px auto;
  max-width: 400px;
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.booking-form h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #24a82b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.center {
  display: flex;
  justify-content: center;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Custom styles for Flatpickr */
.flatpickr-calendar {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.flatpickr-months {
  background: #007bff;
  color: #fff;
}

.flatpickr-weekdays {
  background: #f8f9fa;
}

.flatpickr-day {
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.flatpickr-day:hover {
  background: #007bff;
  color: #fff;
}
